<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="../../static/js/alerta.js"></script>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
        
        <div class="container mt-4" th:switch="${lista}">
       <div class="text-center"><lable class="tituloPrincipal">ADQUISICIONES</lable></div>
       <h2 th:case="null">No hay Roles</h2>
        <div th:case="*">
        <div class="card border-info">
            
            <div class="card-header text-white">
                
            </div>
            <div class="card-body table-responsive-md">
                <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" 
                     th:if="${mensaje != null}"
                     class="alert alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <center><strong><div th:text="${mensaje}"></div></strong></center>
                </div>
                
                <table class="table table-sm table-hover table-bordered table-wrapper-scroll-y my-custom-scrollbar" id="tablaDatos">
                    <thead>
                        <tr>
                            <th style="width:15%">ID REQUISICION</th>
                            <th style="width:15%">CLAVE UNIDAD</th>
                            <th style="width:15%">FECHA ELABORACION</th>
                            <th style="width:5%">MES</th>
                            <th style="width:10%">FOLIO</th>
                            <th style="width:10%">ESTATUS</th>
                            <th style="width:15%"> ACEPTAR </th>
                            <th style="width:15%"> ENVIAR CORRECCIONES </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="dato: ${lista}">
                            <td style="width:15%" th:text="${dato.idRequisicion}"></td>
                            <td style="width:15%" th:text="${dato.claveUnidad}"></td>
                            <td style="width:15%" th:text="${#dates.format(dato.fechaElaboracion,'dd/MM/yyyy')}"></td>
                            <td style="width:5%" th:text="${dato.mesCalendarizacion}"></td>
                            <td style="width:10%" th:text="${dato.folio}"></td>
                            <td style="width:10%" th:text="${dato.estatus}"></td>
                            <td style="width:15%">
                                <a id="boton_enviar" style="font-size:15px;color: #333333;" th:href="@{#}">
                                    <i title="Aceptar Requisicion" class="fa fa-check-circle"></i>
                                </a>
                            </td>
                            <td style="width:15%">
                                <a id="boton_eliminar" style="font-size:15px;color: #333333;" th:href="@{#}">
                                    <i title="Enviar Correcciones de Requisicion" class="fa fa-info-circle"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        </div>
        </div>
        
    </body>
</html>
