<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
       <div class="container mt-2 col-lg-8">
           <div class="card">
                <div class="card-header text-center">
                <lable class="tituloPrincipal">Editar Requisicion</lable>
                </div>
                <div class="card-body">
                    
                    <form class="needs-validation" novalidate method="post" action="#"
                          th:action="@{/usuario/requisiciones/update/{id}(id=${requisicion.idRequisicion})}" th:object="${requisicion}">
                        <div class="panel-body">
                        <div class="row">
                        <div class="col-md-6">
                        <label class="tituloTexto">Mes</label>
                        <select name="mesCalendarizacion" class="form-control">
                            <option value="1" selected>ENERO</option>
                                          <option value="2">FEBRERO</option>
                                          <option value="3">MARZO</option>
                                          <option value="4">ABRIL</option>
                                          <option value="5">MAYO</option>
                                          <option value="6">JUNIO</option>
                                          <option value="7">JULIO</option>
                                          <option value="8">AGOSTO</option>
                                          <option value="9">SEPTIEMBRE</option>
                                          <option value="10">OCTUBRE</option>
                                          <option value="11">NOVIEMBRE</option>
                                          <option value="12">DICIEMBRE</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label tituloTexto" for="montoSuficiencia">Monto de suficiencia</label>
                            <input type="number" class="form-control" name="montoSuficiencia" th:value="${requisicion.montoSuficiencia}" id="montoSuficiencia" required/>
                            <div class="invalid-feedback">Monto Suficiencia es requerido</div>
                        </div>
                        </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="tituloTexto">Justificacion Del Uso</label>
                                    <textarea name="justificacionDelUso" class="form-control" aria-label="Justificacion de uso" th:value="${requisicion.justificacionDelUso}" required>
                                    </textarea>
                                    <div class="invalid-feedback">Justificacion Del Uso es requerido</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="tituloTexto">Objeto del gasto</label>
                                    <select id="idUnidadMedida" name="idUnidadMedida" th:value="${requisicion.idUnidadMedida}" class="form-control">
                                        <option value="">Selecciona...</option>
                                        <option th:each="unidad : ${unidadMedidas}"
                                                th:value="${unidad.idUnidadMedida}"
                                                th:utext="${unidad.nombre}"/>
                                    </select>
                                </div>
                            </div>
                            
                        <br/>
                        
                        <div class="valid-feedback">
                         Todo bien.
                         </div>
                        <div class="invalid-feedback">
                         </div>
                        <br/>
                        <br/>
                        <input type="submit" class="btn btn-success" value="Actualizar">
                        <a th:href="@{/usuario/requisiciones}">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </body>
</html>
