<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="../../static/js/alerta.js"></script>
</head>
<body>
	<header th:replace="layout :: header"></header>

	<div class="container mt-4" th:switch="${lista}">
		<div class="text-center">
			<lable class="tituloPrincipal">FOLIO REQUISICIÓN</lable>
		</div>
		<h2 th:case="null">No hay registros</h2>
		<div th:case="*" style="width: 60%; margin: auto auto">
			<div class="card sombra bordeCard">

				<div class="card-header text-white" style="min-height: 50px">
					<div th:if="${anioActual != null}">
						<a class="sombraChica" data-placement="top"
							title="Agregar nuevo año" data-toggle="tooltip"
							th:onclick="'mensajeAltaAnio(\''+ ${anioActual} +'\')'">
							<img th:src="@{/img/icons/agregar.png}" class="iconos">
						</a>

					</div>

				</div>

				<div class="card-body table-responsive-md">
					<div
						th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
						th:if="${mensaje != null}" class="alert alert-dismissable">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<center>
							<strong><div th:text="${mensaje}"></div></strong>
						</center>
					</div>

					<table
						class="table table-sm table-hover table-bordered table-wrapper-scroll-y my-custom-scrollbar"
						id="tablaAnioRequisicion">
						<thead>
							<tr>
								<th style="width: 10%">AÑO</th>
								<th style="width: 20%">CONSECUTIVO</th>
								<th style="width: 20%">ESTATUS</th>
								<th style="width: 15%"></th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="dato: ${lista}">
								<td style="width: 20%" th:text="${dato.anio}"></td>
								<td style="width: 20%" th:text="${dato.consecutivo}"></td>
								<td style="width: 20%" th:text="${dato.estatus.descripcion}"></td>
								<td style="width: 10%; text-align: center"><a
									id="boton_activar" href="#"
									style="font-size: 15px; color: #333333;"
									th:onclick="'mensajeActivarInactivar(\''+ ${dato.anio} +'\',\''+ ${dato.estatus.idEstatus} +'\')'">
									<img th:src="@{/img/icons/toggleoff.png}" class="iconos"
										data-toggle="tooltip" data-placement="top" th:if="${dato.estatus.idEstatus == 0}"
										title="Activar">
										<img th:src="@{/img/icons/toggleon.png}" class="iconos"
										data-toggle="tooltip" data-placement="top" th:if="${dato.estatus.idEstatus == 1}" title="Inactivar">
										
								</a>
								</td>
							</tr>
						</tbody>
					</table>
					<input type="hidden" value="foliosrequisiciones" id="nombreModulo">
				</div>
			</div>
		</div>
	</div>

</body>
</html>