<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
        <div class="container mt-2 col-lg-8">
            <div class="card">
                <div class="card-header text-center">
                 <lable class="tituloPrincipal">Nueva Solicitud</lable>
                </div>
                <div class="card-body">
                    
                    <form class="needs-validation" novalidate method="post" action="#" th:action="@{/usuario/solicitudes/add}" th:object="${solicitud}">
                        <div class="panel-body">
                        <div class="row">
                        <div class="col-md-6">
                        <label class="tituloTexto">Mes</label>
                        <select name="mesCalendarizacion" class="form-control">
                            <option value="1" selected>ENERO</option>
                                          <option value="2">FEBRERO</option>
                                          <option value="3">MARZO</option>
                                          <option value="4">ABRIL</option>
                                          <option value="5">MAYO</option>
                                          <option value="6">JUNIO</option>
                                          <option value="7">JULIO</option>
                                          <option value="8">AGOSTO</option>
                                          <option value="9">SEPTIEMBRE</option>
                                          <option value="10">OCTUBRE</option>
                                          <option value="11">NOVIEMBRE</option>
                                          <option value="12">DICIEMBRE</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label tituloTexto" for="idPrioridad">Pioridad</label>
                            <select name="prioridad.idPrioridad" id="idPrioridad" class="form-control">
                                <option value="1" selected>ORDINARIA</option>
                                <option value="2">URGENTE</option>
                            </select>
                            <div class="invalid-feedback">Prioridad es requerido</div>
                        </div>
                        </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="tituloTexto">Actividad o Uso</label>
                                    <textarea class="form-control" name="actividadOUso" aria-label="Actividad o uso"></textarea>
                                    <div class="invalid-feedback">Actividad o Uso es requerido</div>
                                </div>
                            </div>
                            <hr/>
                            <br/>
                        <br/>
                        
                        <div class="valid-feedback">
                         Todo bien.
                         </div>
                        <div class="invalid-feedback">
                         </div>
                        <br/>
                        <br/>
                        <input type="submit" class="btn btn-success" value="Agregar">
                        <a th:href="@{/usuario/solicitudes}">Regresar</a>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        
    </body>
</html>
