<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
       <div class="container mt-2 col-lg-8">
           <div class="card sombra bordeCard">
                <div class="card-header text-center">
                <lable class="tituloPrincipal">Detalles solicitud</lable>
                </div>
                <div class="card-body">
                    <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
                         th:if="${mensaje != null}"
                         class="alert alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <center><strong><div th:text="${mensaje}"></div></strong></center>
                    </div>
                    
                    <form class="needs-validation" novalidate method="post" action="#"
                          th:action="@{/usuario/solicitudes/emitir/{id}(id=${solicitud.idSolicitud})}" th:object="${solicitud}">

                        <div class="panel-body">
                                <div class="card-body">
                                    <div align="center">
                                        <input type="submit" class="btn btn-dark" th:if="${solicitud.estatus.idEstatus==13}" value="Emitir"></input>
                                        <a th:onclick="'observaciones(\''+ ${solicitud.idSolicitud} +'\')'" class="btn btn-light active" role="button" aria-pressed="true" th:if="${solicitud.estatus.idEstatus==13}">Ver Observaciones</a>
                                        <a th:href="@{/usuario/solicitudes}" class="btn btn-light active" role="button" aria-pressed="true">Regresar</a>
                                    </div>
                                    <br/>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5 class="card-title">Solicitud: </h5>
                                        </div>
                                        <div class="col-md-9">
                                            <h6>[[${solicitud.idSolicitud}]]</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5 class="card-title">Estatus: </h5>

                                        </div>
                                        <div class="col-md-9">
                                            <h6 th:attr="style='color:'+${solicitud.estatus.colorhex}+'; -webkit-text-stroke: 0.5px black;'" th:text="${solicitud.estatus.descripcion}"></h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5 class="card-title">Folio: </h5>

                                        </div>
                                        <div class="col-md-9">
                                            <h6>[[${solicitud.folio}]]</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5 class="card-title">Prioridad: </h5>
                                        </div>
                                        <div class="col-md-9">
                                            <h6>[[${solicitud.prioridad.descripcion}]]</h6>
                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h5 class="card-title">Actividad o uso: </h5>
                                            </div>
                                            <div class="col-md-9">
                                                <h6>[[${solicitud.actividadOUso}]]</h6>
                                            </div>
                                        </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h5 class="card-title">Firma director: </h5>
                                                </div>
                                                <div class="col-md-9">
                                                    <h6 data-toggle="tooltip" data-placement="top" th:if="${solicitud.firmaDirector!=null}" th:attr="title=${solicitud.firmaDirector}">Autorizado y firmado</h6>
                                                </div>
                                                </div>
                                    <br/>
                                    <hr/>

                                    <div align="center"><h5 class="card-title">DOCUMENTOS:</h5></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                        <table class="table table-sm table-hover table-bordered table-wrapper-scroll-y my-custom-scrollbar" id="tablaDocumentos">
                                            <thead>
                                            <tr>
                                                <th style="width:20%">NO</th>
                                                <th style="width:20%">FECHA</th>
                                                <th style="width:40%">TIPO DOCUMENTO</th>
                                                <th style="width:20%"> DESCARGAR </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="dato: ${documentos}">
                                                <td style="width:20%" th:text="${dato.idDocumento}"></td>
                                                <td style="width:20%" th:text="${#dates.format(dato.fechaActualizacion,'dd/MM/yyyy')}"></td>
                                                <td style="width:40%" th:text="${dato.tipoDocumento.descripcion}"></td>
                                                <td style="width:20%">
                                                    <a id="boton_ver" href="#" style="font-size:15px;color: #333333;" th:href="@{/descargas/solicitudes/documentos/download/{id}(id=${dato.idDocumento})}" >
                                                        <i title="Descargar Documento" class="fa fa-download"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                            </div>
                                    </div>
                                    <br/>

                                    <hr/>
                                    <div align="center"><h5 class="card-title">REQUISICIONES:</h5></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-sm table-hover table-bordered table-wrapper-scroll-y my-custom-scrollbar" id="tablaRequisicionesDir">
                                                <thead>
                                                <tr>
                                                    <th style="width:10%">NO</th>
                                                    <th style="width:50%">CLAVE PRESUP</th>
                                                    <th style="width:10%"> MONTO SUFICIENCIA </th>
                                                    <th style="width:10%"> ESTATUS </th>
                                                    <th style="width:20%"> VER DETALLES </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="dato: ${requisiciones}">
                                                    <td style="width:10%" th:text="${dato.idRequisicion}"></td>
                                                    <td style="width:50%" th:text="${dato.clavePresupuestaria.claveCompleta}"></td>
                                                    <td style="width:10%" th:text="${dato.montoSuficiencia}"></td>
                                                    <td style="width:10%" th:text="${dato.estatus.descripcion}"></td>
                                                    <td style="width:20%">
                                                        <a id="boton_detalles_requisiciones" href="#" style="font-size:15px;color: #333333;" th:onclick="'detalleRequisicion(\''+ ${dato.idRequisicion} +'\')'">
                                                            <i title="Ver Detalle Requisiciones" class="fa fa-eye"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            <br/>
                        <br/>
                        
                        <div class="valid-feedback">
                         Todo bien.
                         </div>
                        <div class="invalid-feedback">
                         </div>
                        <br/>
                        </div>
                    </form>
                </div>
            </div>

           <div id="detallesModalHolder"></div>

           <div class="modal fade" id="detallesModal" tabindex="-1" role="dialog" aria-hidden="true" th:fragment="modalDetalles">
               <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                   <div class="modal-content">
                       <div class="modal-header">

                           <h4 class="modal-title">Detalles Requisicion.</h4>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                       <div class="modal-body">
                           <div id="opcionesDetalles" class="card-body table-responsive-md">
                               <div class="panel-body">
                                   <div class="row">
                                       <div class="col-md-12">
                                           <table class="table table-sm table-hover table-bordered table-wrapper-scroll-y my-custom-scrollbar" id="tablaDetallesRequisicion">
                                               <thead>
                                               <tr>
                                                   <th style="width:5%"><div align="center">NO</div></th>
                                                   <th style="width:10%"><div align="center">CANTIDAD SOLICITADA</div></th>
                                                   <th style="width:30%"><div align="center">PRODUCTO</div></th>
                                                   <th style="width:15%"><div align="center">UNIDAD DE MEDIDA</div></th>
                                                   <th style="width:20%"><div align="center">TIPO PRODUCTO</div></th>
                                                   <th style="width:20%"><div align="center">PRECIO REFERENCIA</div></th>
                                               </tr>
                                               </thead>
                                               <tbody>
                                               <tr th:each="dato: ${detallesRequisicion}">
                                                   <td style="width:5%" th:text="${dato.idDetalleRequisicion}"></td>
                                                   <td style="width:10%" th:text="${dato.cantidadSolicitada}"></td>
                                                   <td style="width:30%" th:text="${dato.producto.caracteristicas}"></td>
                                                   <td style="width:15%" th:text="${dato.producto.unidadMedida.nombre}"></td>
                                                   <td style="width:20%" th:text="${dato.producto.tipoProducto.descripcion}"></td>
                                                   <td style="width:20%" th:text="${dato.producto.precioDeReferencia}"></td>
                                               </tr>
                                               </tbody>
                                           </table>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>



           <div id="observacionesModalHolder"></div>

           <div class="modal fade" id="observacionesModal" tabindex="-1" role="dialog" aria-hidden="true" th:fragment="modalObservaciones">
               <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                   <div class="modal-content">
                       <div class="modal-header">

                           <h4 class="modal-title">Observaciones Solicitud.</h4>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                       <div class="modal-body">
                           <div id="opcionesObservaciones" class="card-body table-responsive-md">
                               <div class="panel-body">
                                   <div class="row">
                                       <div class="col-md-12">
                                           <table class="table table-sm table-hover table-bordered table-wrapper-scroll-y my-custom-scrollbar" id="tablaDetalles">
                                               <thead>
                                               <tr>
                                                   <th style="width:10%"><div align="center">FECHA REVISION</div></th>
                                                   <th style="width:10%"><div align="center">ID SOLICITUD</div></th>
                                                   <th style="width:80%"><div align="center">OBSERVACION</div></th>
                                               </tr>
                                               </thead>
                                               <tbody>
                                               <tr th:each="dato: ${observaciones}">
                                                   <td style="width:10%" th:text="${#dates.format(dato.fechaRevision,'dd/MM/yyyy')}"></td>
                                                   <td style="width:10%" th:text="${dato.solicitud.idSolicitud}"></td>
                                                   <td style="width:80%" th:text="${dato.observacion}"></td>
                                               </tr>
                                               </tbody>
                                           </table>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

        </div>

    </body>
</html>
