<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="../../static/js/alerta.js"></script>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
        
        <div class="container mt-4" th:switch="${lista}">
       <div class="text-center"><lable class="tituloPrincipal">SOLICITUDES</lable></div>
       <h2 th:case="null">No hay Solicitudes</h2>
        <div th:case="*">
        <div class="card border-info">
            
            <div class="card-header text-white">
                <a id="boton_agregar" style="font-size:15px;color: #333333;" title="Agregar Solicitud" th:href="@{/usuario/solicitudes/agregar}" class="fas fa-plus-circle"></a>
            </div>
            <div class="card-body table-responsive-md">
                <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" 
                     th:if="${mensaje != null}"
                     class="alert alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <center><strong><div th:text="${mensaje}"></div></strong></center>
                </div>
                
                <table class="table table-sm table-hover table-bordered table-wrapper-scroll-y my-custom-scrollbar" id="tablaSolicitudes">
                    <thead>
                        <tr>
                            <th style="width:10%">ID SOLICITUD</th>
                            <th style="width:10%">FECHA CREACION</th>
                            <th style="width:20%">PRIORIDAD</th>
                            <th style="width:20%">ESTATUS</th>
                            <th style="width:10%"> REQUISICIONES </th>
                            <th style="width:10%"> DOCUMENTOS </th>
                            <th style="width:10%"> DETALLES </th>
                            <th style="width:5%"> EDITAR </th>
                            <th style="width:5%"> ELIMINAR </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="dato: ${lista}">
                            <td style="width:10%" th:text="${dato.idSolicitud}"></td>
                            <td style="width:10%" th:text="${#dates.format(dato.fechaCreacion,'dd/MM/yyyy')}"></td>
                            <td style="width:20%" th:text="${dato.prioridad.descripcion}"></td>
                            <td style="width:20%" th:style="${'background: dato.estatus.colorhex;'}"
                                th:text="${dato.estatus.descripcion}"></td>
                            <td style="width:10%">
                                <a id="boton_requisiciones" th:if="${dato.estatus.idEstatus==10 || dato.estatus.idEstatus==13}" style="font-size:15px;color: #333333;" th:href="@{/usuario/solicitudes/requisiciones/{id}(id=${dato.idSolicitud})}">
                                    <i title="Agregar Requisiciones" class="fa fa-shopping-bag"></i>
                                </a>
                            </td>
                            <td style="width:10%">
                                <a id="boton_documentos" th:if="${dato.estatus.idEstatus==10 || dato.estatus.idEstatus==13}" style="font-size:15px;color: #333333;" th:href="@{/usuario/solicitudes/documentos/{id}(id=${dato.idSolicitud})}">
                                    <i title="Agregar Documentos" class="fa fa-file"></i>
                                </a>
                            </td>
                            <td style="width:10%">
                                <a id="boton_detalle" style="font-size:15px;color: #333333;" th:href="@{/usuario/solicitudes/detallesSolicitud/{id}(id=${dato.idSolicitud})}">
                                    <i title="Detalle" class="fa fa-search"></i>
                                </a>
                            </td>
                            <td style="width:5%">
                                <a id="boton_editar" th:if="${dato.estatus.idEstatus==10 || dato.estatus.idEstatus==13}" style="font-size:15px;color: #333333;" th:href="@{/usuario/solicitudes/editar/{id}(id=${dato.idSolicitud})}">
                                    <i title="Editar Solicitud" class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td style="width:5%">
                                <a id="boton_eliminar" th:if="${dato.estatus.idEstatus==10}" style="font-size:15px;color: #333333;" th:href="@{#}">
                                    <i title="Eliminar Solicitud" class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        </div>
        </div>
        
    </body>
</html>
