<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
       <div class="container mt-2 col-lg-8">
           <div class="card">
                <div class="card-header text-center">
                <lable class="tituloPrincipal">Asignar Articulos a Requisicion</lable>
                </div>
                <div class="card-body">
                    
                    <form class="needs-validation" novalidate method="post" action="#" th:action="@{/usuario/requisiciones/updateDetalles/{id}(id=${requisicion.idRequisicion})}" th:object="${detalleRequisicion}">
                        <div class="panel-body">
                            <!-- Editable table -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="tableRequisicion" class="table-editable">
                                              <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                                                      class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                            <thead>
                                            <tr>
                                                <th class="text-center">Cantidad Solicitada</th>
                                                <th class="text-center">Unidad</th>
                                                <th class="text-center">Producto</th>
                                                <th class="text-center">Caracteristicas</th>
                                                <th class="text-center"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="pt-3-half">
                                                    <input type="number" name="cantidad" class="form-control" required/>
                                                    <div class="invalid-feedback">Cantidad es requerido</div></td>
                                                <td class="pt-3-half" >
                                                    <select id="unidadMedida" name="unidadMedida.idUnidadMedida" class="form-control">
                                                        <option value="">Selecciona...</option>
                                                        <option th:each="unidad : ${unidadMedidas}"
                                                                th:value="${unidad.idUnidadMedida}"
                                                                th:utext="${unidad.nombre}"/>
                                                    </select>
                                                </td>
                                                <td class="pt-3-half">
                                                    <select id="subtipoProducto" name="subtipoProducto.idSubtipoProducto" class="form-control">
                                                        <option value="">Selecciona...</option>
                                                        <option th:each="product : ${subTipoProductos}"
                                                                th:value="${product.idSubtipoProducto}"
                                                                th:utext="${product.descripcion}"/>
                                                    </select>
                                                </td>
                                                <td class="pt-3-half">
                                                    <input type="text" name="caracteristicas" class="form-control" required/>
                                                    <div class="invalid-feedback">Caracteristicas es requerido</div>
                                                </td>
                                                <td>
                                                      <span class="table-remove"><button type="button"
                                                                                         class="btn btn-danger btn-rounded btn-sm my-0">Quitar</button></span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Editable table -->
                            
                        <br/>
                        
                        <div class="valid-feedback">
                         Todo bien.
                         </div>
                        <div class="invalid-feedback">
                         </div>
                        <br/>
                        <br/>
                        <input type="submit" class="btn btn-success" value="Actualizar">
                        <a th:href="@{/usuario/requisiciones}">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </body>
</html>
