<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="../../static/js/alerta.js"></script>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
        
        <div class="container mt-4">

        <div class="card sombra bordeCard">
            
            <div class="card-header text-center">
                <lable class="tituloPrincipal">Asignar requisiciones a solicitud</lable>
            </div>
            <div class="card-body table-responsive-md">
                <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" 
                     th:if="${mensaje != null}"
                     class="alert alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <center><strong><div th:text="${mensaje}"></div></strong></center>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label tituloTexto">SOLICITUD NÚMERO: [[${id}]] </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label tituloTexto">UNIDAD RESPONSABLE: </label>
                            <label style="font-size: small; text-align: center;">[[${unidadResponsable}]]</label>
                        </div>
                    </div>
                    <hr/>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <div align="center">
                                <a th:href="@{/usuario/solicitudes/requisiciones/agregar/{id}(id=${solicitud})}" class="btn btn-primary" role="button" aria-pressed="true">Agregar Requisición</a>
                                <a th:href="@{/usuario/solicitudes}" class="btn btn-light active" role="button" aria-pressed="true">Regresar</a>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-sm table-hover table-bordered table-wrapper-scroll-y my-custom-scrollbar" id="tablaRequisiciones">
                                <thead>
                                <tr>
                                    <th style="width:10%">ID REQUISICION</th>
                                    <th style="width:50%">CLAVE PRESUPUESTAL</th>
                                    <th style="width:10%">MONTO SUFICIENCIA</th>
                                    <th style="width:10%">ESTATUS</th>
                                    <th style="width:10%"> DETALLE REQUISICIÓN </th>
                                    <th style="width:5%"> EDITAR </th>
                                    <th style="width:5%"> ELIMINAR </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dato: ${lista}">
                                    <td style="width:10%" th:text="${dato.idRequisicion}"></td>
                                    <td style="width:50%" th:text="${dato.clavePresupuestaria.claveCompleta}"></td>
                                    <td style="width:10%" th:text="${dato.montoSuficiencia}"></td>
                                    <td style="width:10%" th:attr="style='background:'+${dato.estatus.colorhex}" th:text="${dato.estatus.descripcion}"></td>
                                    <td style="width:10%; text-align: center">
                                        <a title="Agregar detalle a requisición"  data-toggle="tooltip" data-placement="top" th:href="@{/usuario/solicitudes/requisiciones/detalles/{id}(id=${dato.idRequisicion})}">
                                            <img th:src="@{/img/icons/detallerequisicion.png}" class="iconos">
                                        </a>
                                    </td>
                                    <td style="width:5%; text-align: center">
                                        <a title="Editar requisición" data-toggle="tooltip" data-placement="top" style="font-size:15px;color: #333333;" th:href="@{/usuario/solicitudes/requisiciones/editar/{id}(id=${dato.idRequisicion})}">
                                            <img th:src="@{/img/icons/editar.png}" class="iconos" >
                                        </a>
                                    </td>
                                    <td style="width:5%; text-align: center">
                                        <a th:onclick="'mensajeEliminarRequisicion(\''+ ${dato.idRequisicion} +'\',\''+ ${dato.idSolicitud} +'\')'">
                                            <img th:src="@{/img/icons/eliminar.png}" class="iconos" title="Eliminar requisición" data-toggle="tooltip" data-placement="top">
                                        </a>
                                        <input type="hidden" value="requisiciones" id="nombreModulo">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                </div>
                    <hr/>
                    <br/>
                
            </div>
        </div>
        </div>
        
    </body>
</html>
