<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="layout :: header"></header>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div align="center">
            <div  class="text-center sombra" style="width: 80%;" >
            <div class="row"  th:style="'background:url(' + @{/img/seppuebla1.jpg} + ')no-repeat; background-size: cover'">
            <div class="col-sm-4"></div>
            <div class="col-sm-8"><h1>Sistema Interno de Registro y Seguimiento de Requisiciones.</h1>
            <p style="font-weight: bold">(SIRSR)</p>
            <p></p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
             <br/>
              <br/>
            <br/>
            <a href="login" class="btn btn-dark" ><i class="fas fa-arrow-right"></i> Siguiente</a>
              <br/>
           
              <br/>
              </div>
          </div>
          </div>
          </div>
         
    </body>
</html>